xmonad/xmonad.o
xmonad/xmonad.hi
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux

xmonad/.xmonad/
xmonad/xmonad/
xmonad/xmonad-contrib/
xmonad/stack.yaml

syncthing/

*.userdb/
nixos-config/result
nixos-config/flake.lock

fcitx5/rime
