[submodule "nvim"]
	path = nvim
	url = git@github.com:AzurIce/nvim.git
	branch = lua
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "qtile"]
	path = qtile
	url = git@github.com:AzurIce/qtile.git
[submodule "waybar"]
	path = waybar
	url = git@github.com:AzurIce/waybar.git
